.meme-container {
  display: grid;
  justify-content: center;
  margin: 10px auto;
  width: 600px;
  max-height: 600px;
}

.user-img {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  margin: 0 10px;
}

.meme-author {
  display: flex;
  justify-content: left;
  align-items: center;
}

.meme-author > span.username:hover {
  cursor: pointer;
  color: var(--main-text-color-hover);
}

.meme-time {
  color: var(--main-meme-button-color-hover);
  padding: 0 10px;
}

.meme-title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.meme-title:hover {
  cursor: pointer;
  color: var(--main-text-color-hover);
}

.meme-img {
  display: block;
  height: auto;
  max-height: 425px;
  width: 600px;
}

.meme-img:hover {
  cursor: pointer;
}

.meme-buttons, .meme-tags {
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
}

.meme-tag {
  margin: 5px;
  padding: 5px;
  color: var(--main-tag-color);
  background-color: var(--main-meme-button-color);
  border-radius: 10px;
}

.meme-tag:hover {
  cursor: pointer;
  background-color: var(--main-meme-button-color-hover);
}

.p-button {
  margin-top: 5px !important;
  margin-right: 10px !important;
  padding: 5px 10px !important;
}

fa-icon {
  padding: 0 5px;
}

fa-icon:hover {
  color: var(--main-background-color);
}

@media screen and (max-width: 700px) {
  .meme-container {
    width: 90vw;
  }
  .meme-img {
     width: 90vw;
   }
}
