<h3> Potwierdź nowe hasło </h3>

<form [formGroup]="form" novalidate>

  <div class="input">
    <input pInputText type="password" formControlName="password" placeholder="Hasło"/>
  </div>

  <div class="input">
    <input pInputText type="password" formControlName="password2" placeholder="Potwierdź hasło"/>
  </div>

  <button pButton type="button" class="p-button-raised p-button-rounded" (click)="saveNewPassword()"
          [disabled]="!isFormValid() || !doesBothPasswordMatches() || !user">Zapisz nowe hasło
  </button>
</form>
