<h3>{{'authentication.new-password.placeholders.title' | translate}}</h3>

<form [formGroup]="form" novalidate>

  <div class="input">
    <input pInputText type="password" formControlName="password"
           placeholder="{{'authentication.new-password.placeholders.password' | translate}}"/>
  </div>

  <div class="input">
    <input pInputText type="password" formControlName="password2"
           placeholder="{{'authentication.new-password.placeholders.confirmPassword' | translate}}"/>
  </div>

  <button pButton type="button" class="p-button-raised p-button-rounded" (click)="saveNewPassword()"
          [disabled]="!isFormValid() || !doesBothPasswordMatches() || !user">{{'authentication.new-password.placeholders.button' | translate}}
  </button>
</form>
