<ng-container *ngIf="user">

  <h3>{{'profile.settings.placeholders.welcome' | translate}} {{user.firstname | titlecase }} {{ user.lastname | titlecase }}
    !</h3>

  <form [formGroup]="form" novalidate>

    <div class="photo-input">
      <img [src]="getUserPhoto()" alt="">
      <span pButton label="{{'profile.settings.placeholders.choosePhoto' | translate}}" icon="pi pi-folder-open"
            (click)="fileInput.click()">
    <input #fileInput type="file" hidden (change)="doFileInput($event)" accept="image/*">
  </span>
    </div>

    <div class="input">
      <input pInputText type="text" formControlName="firstname"
             placeholder="{{'profile.settings.placeholders.firstname' | translate}}"/>
    </div>

    <div class="input">
      <input pInputText type="text" formControlName="lastname"
             placeholder="{{'profile.settings.placeholders.lastname' | translate}}"/>
    </div>

    <div class="input">
      <input pInputText type="text" formControlName="username"/>
    </div>

    <div class="input">
      <input pInputText type="text" formControlName="email"/>
    </div>

    <div class="input">
      <input pInputText type="password" formControlName="password"/>
    </div>
    <button pButton type="button" class="p-button-raised p-button-rounded"
            (click)="openPasswordDialog()">{{'profile.settings.placeholders.changePassword' | translate}}
    </button>

    <div class="input">
      <p-dropdown [options]="languages" formControlName="language" (onChange)="changeLanguage()"></p-dropdown>
      <span *ngIf="!formSaved" class="span-error">{{'profile.settings.placeholders.formNotSaved' | translate}}</span>
    </div>

    <button pButton type="button" class="p-button-raised p-button-rounded" (click)="update()"
            [disabled]="!isFormValid()">{{'profile.settings.placeholders.updateForm' | translate}}
    </button>
  </form>


</ng-container>
