<header>
  <nav class="nav-bar">
    <div class="nav-left" routerLink="">
      <span class="app-name">MEME APP</span>
    </div>
    <div class="nav-right">
      <section class="navigations">
        <div class="navigation-div">
          <a routerLink="pending">{{'app.nav.pending' | translate}}</a>
          <a routerLink="meme/random">{{'app.nav.randomMeme' | translate}}</a>
          <a routerLink="new-meme" *ngIf="userLogged">{{'app.nav.addMeme' | translate}}</a>
        </div>
      </section>
      <section class="profile">
        <span id="language" [class]="language" *ngIf="!userLogged" pTooltip="{{'app.nav.changeLanguage' | translate}}"
              tooltipPosition="left" (click)="changeLanguage()"></span>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <fa-icon icon="moon" (click)="changeTheme()" pTooltip="{{'app.nav.darkMode' | translate}}"
                 tooltipPosition="left"></fa-icon>
        <sign-in *ngIf="!userLogged"></sign-in>
        <profile-nav *ngIf="userLogged" [user]="userLogged"></profile-nav>
      </section>
    </div>
  </nav>
</header>

<main>
  <p-toast class="custom-toast" key="success"></p-toast>
  <p-toast class="toast-warn" key="warn"></p-toast>
  <p-toast class="toast-error" key="error"></p-toast>
  <router-outlet></router-outlet>
</main>
