<h3>{{'profile.settings.new-password-dialog.title' | translate}}</h3>

<form [formGroup]="form" novalidate *ngIf="user">

  <div class="input">
    <p-password placeholder="{{'profile.settings.new-password-dialog.placeholder' | translate}}"
                formControlName="password" weakLabel="{{'profile.settings.new-password-dialog.weakLabel' | translate}}"
                mediumLabel="{{'profile.settings.new-password-dialog.mediumLabel' | translate}}"
                strongLabel="{{'profile.settings.new-password-dialog.strongLabel' | translate}}"
                promptLabel="{{'profile.settings.new-password-dialog.promptLabel' | translate}}"></p-password>
  </div>

  <button pButton type="button" class="p-button-raised p-button-rounded" (click)="update()"
          [disabled]="!isFormValid()">{{'profile.settings.new-password-dialog.buttonLabel' | translate}}
  </button>

</form>
