<h3> Aktualizacja hasła</h3>

<form [formGroup]="form" novalidate *ngIf="user">

  <div class="input">
    <p-password placeholder="Nowe hasło" formControlName="password" weakLabel="Słabe hasło"
                mediumLabel="Przeciętne hasło" strongLabel="Bardzo dobre hasło"
                promptLabel="Wprowadź hasło (min. 5 znaków)"></p-password>
  </div>

  <button pButton type="button" class="p-button-raised p-button-rounded" (click)="update()"
          [disabled]="!isFormValid()">Aktualizuj hasło
  </button>

</form>
