h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.p-button {
  margin-top: 100px;
}
